@font-face{ 
	font-family: 'dinbek-bold';
	src: url('fonts/dinbek_web/dinbek-bold-webfont.eot');
	src: url('fonts/dinbek_web/dinbek-bold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/dinbek_web/dinbek-bold-webfont.woff') format('woff'),
	     url('fonts/dinbek_web/dinbek-bold-webfont.ttf') format('truetype'),
	     url('fonts/dinbek_web/dinbek-bold-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'dinbek-regular';
	src: url('fonts/dinbek_web/dinbek-regular-webfont.eot');
	src: url('fonts/dinbek_web/dinbek-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/dinbek_web/dinbek-regular-webfont.woff') format('woff'),
	     url('fonts/dinbek_web/dinbek-regular-webfont.ttf') format('truetype'),
	     url('fonts/dinbek_web/dinbek-regular-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'dinbek-light';
	src: url('fonts/dinbek_web/dinbek-light-webfont.eot');
	src: url('fonts/dinbek_web/dinbek-light-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/dinbek_web/dinbek-light-webfont.woff') format('woff'),
	     url('fonts/dinbek_web/dinbek-light-webfont.ttf') format('truetype'),
	     url('fonts/dinbek_web/dinbek-light-webfont.svg#webfont') format('svg');
}

body { 
	margin:0; padding:0; 
	font-family: 'dinbek-light', arial;
}

h3 {
	font-family: 'dinbek-regular', arial;
	margin-top: 10px;
	margin-bottom: 42px;
	text-align: center;
}

.italic {
	margin-top: 4px;
	margin-bottom: 10px;
	font-style: italic;
}
#map { 
	position:absolute; top:0; bottom:0; width:100%; 
}

#legend {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 14%;
  background-color: white;
  padding: 30px;
  padding-bottom: 0px;
  -moz-border-radius: 3px;/*Firefox*/
  -webkit-border-radius: 3px;/*Safari, Chrome*/
  border-radius: 3px;
  -moz-box-shadow:    0px 0px 4px 4px #ccc;
  -webkit-box-shadow: 0px 0px 4px 4px #ccc;
  box-shadow:         0px 0px 4px 4px #ccc;
}

#red {
	color:#ED1A3D;
}

#blue {
	color:#00A5E8;
}

#purple {
	color:#544192;
}

#pink {
	color:#EC008C;
}

#yellow {
	color:#FFCF19;
}

#darkblue {
	color:#005FAE;
}

.footer {
	margin-bottom: 6px;
    margin-top: 40px;
    text-align: center;
    font-size: 12px;
    color: #777777;
}

#colors {

}

