#legend {
  position: fixed;
  top: 50px;
  right:10px;
  height: 100px;
  width: 20%;
  background-color: white;
}

img {
  width: 280px;
}


/*  <link href='carte_offre_test.css' rel='stylesheet' />
 
<div id='legend'>
  <p>some text</p>
</div>
*/